# General
*~
*#*
*.DS_Store
*.Rhistory
*.log
*.pdf

# Data files and db
*.pkl
*.jsonl
*.csv
*.pyc
*.db
*.feather
checkpoints/

# Virtualenv folder
venv/

# Airflow
airflow/logs

# NLTK data
data/corpora/
data/sentiment/
data/taggers/
data/tokenizers/
data/credentials.txt

# AWS
.aws
