# General
*~
*#*
*.DS_Store
*.Rhistory


# Data files and db
*.pkl
*.jsonl
*.csv
*.pyc
*.db
*.feather

# Virtualenv folder
venv/

# Airflow
airflow/logs

# NLTK data
data/corpora/
data/sentiment/
data/taggers/
data/tokenizers/
data/credentials.txt