# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = thereadingmachine.scraper.news_scraper.settings

[deploy]
project = news_scraper
